body {
    font-family: Arial, sans-serif;
    margin: 20px;
}

.container {
    text-align: center; 
    margin: auto;
    height: auto;
}

button {
    padding: 10px;
    margin-top: 10px;
    color: white;
    background-color: gray;
}

h1 {
    color: #333;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 10px;
}

input {
    padding: 5px;
    width: 200px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

#question-list {
    text-align: center;
}

textarea#question-text {
    width: 300px;
    resize: vertical; 
    padding: 10px; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}


#quiz-container {
    margin-top: 20px;
    text-align: center; 
    margin: auto;
    height: auto;
}

#options-list {
    list-style-type: none;
    padding: 0;
    margin: auto;
    width: 500px;
}

#options-list li {
    background: #f0f0f0;
    margin-top: 5px;
    padding: 10px;
    cursor: pointer;
}

#options-list li:hover {
    background: #ddd;
}
