body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding: 0;
}

.container {
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
    margin: auto;
}

.login-container {
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.login-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.login-container form {
    display: flex;
    flex-direction: column;
}

.login-container label {
    margin-bottom: 5px;
}

.login-container input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.login-container button {
    padding: 10px;
    font-size: 1rem;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.login-container button:hover {
    background-color: #4cae4c;
}

.login-container a {
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
}

.login-container a:hover {
    text-decoration: underline;
}

.register-container {
    background-color: white;
    padding: 30px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.register-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
}

.register-container form {
    display: flex;
    flex-direction: column;
}

.register-container label {
    margin-bottom: 5px;
}

.register-container input {
    padding: 10px;
    font-size: 1rem;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.register-container button {
    padding: 10px;
    font-size: 1rem;
    background-color: #5cb85c;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

.register-container button:hover {
    background-color: #4cae4c;
}

.register-container a {
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
}

.register-container a:hover {
    text-decoration: underline;
}


h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-align: center;
    color: #333;
}


form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    color: #555;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="file"] {
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    padding: 10px;
    font-size: 1rem;
    background-color: #28a745;
    color: white;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}


.radio-group {
    margin-bottom: 15px;
    display: flex;
    justify-content: space-between;
}

.radio-group label {
    display: flex;
    align-items: center;
}

.radio-group input {
    margin-right: 8px;
}

#company-fields {
    display: none;
    margin-top: 20px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
}

#company-fields label {
    display: inline-block;
    width: 100%;
    margin-bottom: 10px;
}

#company-fields input{
    width: 90%;
}

#logo {
    background-color: rgb(255, 255, 255);
}

.index-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    padding: 20px;
}

.restaurant {
    background-color: white;
    border: 1px solid #ddd;
    border-radius: 10px;
    width: 30%;
    padding: 10px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.restaurant-logo {
    width: 100%;
    height: auto;
    border-radius: 5px;
}

.restaurant h2 {
    font-size: 1.5rem;
    margin: 10px 0;
}

.restaurant p {
    color: #ffffff;
}

@media (max-width: 768px) {
    .restaurant {
        width: 45%;
    }
}

@media (max-width: 480px) {
    .restaurant {
        width: 100%;
    }

    .container {
        width: 90%;
    }
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 15px;
    text-align: center;
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.body {
    display: flex;
    justify-content: center;  
    align-items: center; 
    height: 100%; 
    margin: 0;
    background-color: #f5f5f5; 
}

.login-register-page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh; 
    margin: 0;
    background-color: #f5f5f5; 
}

.admin {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.admin a {
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
}

.admin a:hover {
    text-decoration: underline;
}

.admin h1 {
    text-align: center;
    margin-bottom: 20px;
}

.customer-admin, .company-admin, .coupon-admin {
    margin-bottom: 30px;
    padding: 20px;
    border: 1px solid #ddd;
    background-color: #fafafa;
    border-radius: 5px;
}

h2 {
    font-size: 24px;
    margin-bottom: 15px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input[type="text"], input[type="number"], input[type="file"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    padding: 10px 15px;
    background-color: #28a745;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #218838;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

table th, table td {
    padding: 10px;
    border: 2px solid #ddd;
    text-align: left;
}

table th {
    background-color: #f8f8f8;
}

#search_customer {
    background-color: #5cff5a;
    color: black;
}

#search_customer::placeholder {
    color: black;
}

#search_company{
    background-color: #5cff5a;
    color: black;
}

#search_company::placeholder{
    color:black;
}

.company-logo {
    width: 50px; 
    height: auto; 
}

h5{
    color: red;
}

.customerphp_button {
    width: 100%;
}

.coupon-admin select{
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    
}

.user-info {
    position: fixed;
    top: 10px;
    right: 10px;
    text-align: center;
    background-color: #e2e2e2;  
    border-radius: 10px;
    width: auto;
    padding: 10px;
    font-size: 17px;
}

.user-info a {
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
    font-size: 17px;
}

.user-info a:hover {
    text-decoration: underline;
}

.profile-update, .password-update {
    width: 400px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.load-money{
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    scale: 120%;
}

.restaurant-form{
    width: 80%;
    text-align:center;
    margin: auto;
    margin-top: 30px;

}

.restaurant-list{
    width: 60%;
    align-items: center;
    margin: auto;
    margin-top: 30px;

}

.restaurants a{
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
    font-size: 17px;
}

.restaurants a:hover{
    text-decoration: underline;
}

#search_restaurant{
    background-color: #5cff5a;
    color: black;
}

#search_restaurant::placeholder{
    color:black;
}

.restaurant-profile{
    margin-top: 30px;
}

.food-form{
    width: 700px;
    margin: auto;
    margin-top: 30px;
}

.food-form select{
    width: auto;
    height: 35px;
    font-size: 14px;
}

.food-list a{
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
    font-size: 17px;
}

.food-list a:hover{
    text-decoration: underline;
}

#search_food{
    background-color: #5cff5a;
    color: black;
}

#search_food::placeholder{
    color: black;
}






.content {
    width: 90%;
    margin: 0 auto;
    padding-top: 20px;
    margin-top: 50px;
}

.company-name {
    margin-top: 40px;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.restaurant-name {
    margin-top: 20px;
    font-size: 20px;
    color: #555;
}

.restaurant-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: flex-start;
    margin-bottom: 20px;
}

.food-card {
    border: 1px solid #ddd;
    border-radius: 8px;
    flex: 0 1 calc(25% - 20px);
    margin-bottom: 20px;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: transform 0.3s;
}

.food-card:hover {
    transform: scale(1.05);
}

.food-card img {
    max-width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 8px;
    align-items: center;
    margin: auto;

}

.food-info {
    text-align: center;
}

.food-info a{
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
    font-size: 17px;
}

.food-info a:hover{
    text-decoration: underline;
}

.food-info h3 {
    margin: 10px 0;
    font-size: 18px;
}

.food-info p {
    margin: 5px 0;
}

@media (max-width: 1200px) {
    .food-card {
        flex: 0 1 calc(33.33% - 20px); 
    }
}

@media (max-width: 900px) {
    .food-card {
        flex: 0 1 calc(50% - 20px); 
    }
}

@media (max-width: 600px) {
    .food-card {
        flex: 0 1 100%; 
    }
}

.basket-list{
    width: 70%;
    margin-top: 250px;
}

.basket-list a{
    color: #5cb85c;
    margin-top: 10px;
    text-decoration: none;
    font-size: 17px;
}

.basket-list a:hover{
    text-decoration: underline;
}

.td-subtotal {
    color: green;
    font-weight: bold; 
}

.basket-list form{
    display: flex;
    width: 30%;
    margin: auto;
    align-items: left;
}

.remove-cupon{
    margin-top: 5px;
}

.total{
    width: 400px;
}

.cupon-pe{
    color: red;
    font-weight: bold;
    font-size: 18px;
}

.cupon-ps{
    color: green;
    font-weight: bold;
    font-size: 18px;
}

.orders-page{
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.orders-list select{
    width: 120px;
    height: 5vh;
    margin-top: 15px;
}

.orders-list{
    margin-top: 30px;
}

.orders-list {
    background: white;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.food-list {
    margin-top: 10px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

.order{
    margin: auto;
    margin-top: 50px;
    border: 1px solid;
    padding: 15px;
}

.completed-orders-list{
    margin-top: 10px;
    padding: 20px;
	border:1px solid;
}

.order select{
    height: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.comments-popup {
    position: absolute;
    background-color: white;
    border: 1px solid black;
    padding: 20px;
    max-width: 400px; 
    max-height: 400px; 
    overflow-y: auto; 
    box-shadow: 0px 0px 10px rgba(0,0,0,0.5);
}


#role {
    height: 4vh;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

.cupon-show{
    color: rgb(1, 168, 1);
    font-weight: bold;
}

.comments-section{
    margin: auto;
    width: 50%;
}